<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.8.3" targetFramework="net35" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.4" targetFramework="net35" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.8.2" targetFramework="net35" />
  <package id="knockoutjs" version="3.3.0" targetFramework="net35" />
  <package id="Moment.js" version="2.10.3" targetFramework="net35" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.0.5" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net35" />
</packages>